@model EoraMarketpalce.Web.Models.Characters.CreateCharacterVM
@{
    ViewBag.Title = "Create Character";
}

<h2>Create Character</h2>


<div class="row">
    <div class="col-md-12">
        @Html.EditorForModel()
    </div>
    <div class="col-md-12">
        <button class="btn btn-success">Create</button>
        <button class="btn btn-danger">Cancel</button>
    </div>
</div>

