body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.active-image {
    border: darkgrey;
    border-style: inset;
    border-width: 5px;
}


.character-info {
    margin-bottom: 0;
    min-height: 50px;
    width: 200px;
    color: #FFFFFF;
}

    .character-info .char-header {
        height: 80px;
        position: absolute;
        background: #333;
        padding: 10px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .character-info .char-photo img {
        float: left;
        max-width: 50px;
        height: 60px;
        border-radius: 50%;
    }

    .character-info .char-name {
        margin-top: 15px;
        padding-left: 60px;
        font-size: 1.2em;
        text-align: left;
    }

    .character-info .char-detail {
        padding-left: 60px;
        margin-top: -14px;
        font-size: 0.8em;
        color: rgba(255, 255, 255, 0.9);
    }

    .character-info .char-funds {
        padding-left: 60px;
        font-size: 0.9em;
    }

    .character-info p {
        margin-bottom: 0;
    }

.margin-bot {
    margin-bottom: 10px;
}
