@using EoraMarketpalce.Web.Common.Extentions
@{
    ViewBag.Title = "Shop";
}
@section scripts{
    @Scripts.Render("~/Scripts/ViewModels/shopViewModel.js")
    @Scripts.Render("~/Scripts/ko.pager.js")

}
@section styles{
    @Styles.Render("~/Content/ShopStyles.css")
}
<h2>Shop</h2>
<div>

    <ul class="nav nav-tabs margin-bot" role="tablist">
        <li role="presentation" class="active"><a href="#buy" aria-controls="buy" role="tab" data-toggle="tab">Buy</a></li>
        <li role="presentation"><a href="#sell" aria-controls="sell" role="tab" data-toggle="tab">Sell</a></li>
        <li role="presentation" class="pull-right disabled"><a href="#sell">Available: <span data-bind="text:characterCredit"></span> Coins</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="buy">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Saerch Name</label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-bind="textInput :uiFilter.productName" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3 control-label">Min Price</label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-bind="value:uiFilter.minPrice" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Max Price</label>
                                    <div class="col-md-9">
                                        <input class="form-control" data-bind="value:uiFilter.maxPrice" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <button class="btn btn-info" data-bind="click:applyFilters">Apply filters</button>
                                        @{ if(User.IsAdmin())
                                            {
                                                @Html.ActionLink("Create Product", "CreateProduct", "Shop", null, new { @class = "btn btn-info" })
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </li>
                        <!--ko foreach: goods-->
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-3" data-bind="click:$root.previewProduct">
                                    <img height="70" data-bind="attr:{src:imageUrl, alt:name}" />
                                </div>
                                <div class="col-md-7" data-bind="click:$root.previewProduct">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label data-bind="text:name"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Price:</label>
                                            <span data-bind="text:$data.price"></span>
                                            <span>coins</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    @{if(User.IsAdmin())
                                        {
                                            <button class="btn btn-danger pull-left" data-bind="click:$root.delete">X</button>
                                        }
                                    }
                                </div>
                            </div>
                        </li>
                        <!--/ko-->
                    </ul>

                    <!-- ko if:Pager().TotalItemCount() > 0 -->
                    <div data-bind="template:{ name: 'tpl-pager', data: Pager }">
                    </div>
                    <!-- /ko -->

                </div>
                <div class="col-md-6" data-bind="if:detail()">

                    <div class="panel panel-default" data-bind="with:detail().product">
                        <div class="panel-heading">
                            <h3 class="panel-title" data-bind="text:$data.name"></h3>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img width="150" data-bind="attr:{src:$data.image.imageUrl}" />
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 data-bind="text:$data.name"></h3>
                                        </div>
                                    </div>
                                    <div class="row" data-bind="if:$data.classes.length>0">
                                        <label class="col-md-4">Available for:</label>
                                        <!--ko if:$data.classes.length>0-->
                                        <div class="col-md-8" data-bind="foreach: $data.classes">
                                            <span class="label label-primary" data-bind="text:name"></span>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Price:</label>
                                            <span data-bind="text:$data.price"></span>
                                            <span>coins</span>
                                            <button class="btn btn-success" data-bind="click:$root.buyProduct, enable:$root.character.Name!=undefined">Buy</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row" data-bind="if:$data.stats.length>0">
                                        <label class="col-md-12">Stats:</label>
                                        <ul class="col-md-12" data-bind="foreach: $data.stats">
                                            <li>
                                                <label class="label label-default" data-bind="text:$data.statName"></label>:<span class="badge" data-bind="text:$data.statValue"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="sell">
            <div class="row">

                <div class="col-md-6">
                    <span data-bind="ifnot:characterInventory().length">
                        Inventory is empty.
                    </span>
                    <!--ko if:characterInventory().length-->
                    <ul class="list-group" data-bind="foreach: characterInventory">
                        <li class="list-group-item" data-bind="click:$root.previewToSellProduct">
                            <div class="row">
                                <div class="col-md-3">
                                    <img height="70" data-bind="attr:{src:$data.ImageUrl, alt:$data.Name}" />
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label data-bind="text:$data.Name"></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Price:</label>
                                            <span data-bind="text:$data.Price"></span>
                                            <span>coins</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Sell Price:</label>
                                            <span data-bind="text:$data.SellPrice"></span>
                                            <span>coins</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!--/ko-->
                </div>





                <div class="col-md-6">
                    <div class="panel panel-default" data-bind="with:toSellDetail().product">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3 class="panel-title " data-bind="text:$data.name"></h3>
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success" style="float: right;" data-bind="click:$root.sellProduct">Sell</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img width="150" data-bind="attr:{src:$data.image.imageUrl}" />
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h3 data-bind="text:$data.name"></h3>
                                        </div>
                                    </div>
                                    <div class="row" data-bind="if:$data.classes.length>0">
                                        <label class="col-md-4">Available for:</label>
                                        <!--ko if:$data.classes.length>0-->
                                        <div class="col-md-8" data-bind="foreach: $data.classes">
                                            <span class="label label-primary" data-bind="text:name"></span>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Price:</label>
                                            <span data-bind="text:$data.price"></span>
                                            <span>coins</span>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row" data-bind="if:$data.stats.length>0">
                                        <label class="col-md-12">Stats:</label>
                                        <ul class="col-md-12" data-bind="foreach: $data.stats">
                                            <li>
                                                <label class="label label-default" data-bind="text:$data.statName"></label>:<span class="badge" data-bind="text:$data.statValue"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/html" id="tpl-pager">
    <div class="pagexofx">
        <span data-bind="text: FirstItemIndex"></span>
        -
        <span data-bind="text: LastItemIndex"></span>
        of
        <strong>
            <span data-bind="text: TotalItemCount"></span>
        </strong>
        total results.
    </div>
    <ul class="pagination">
        <!-- ko if:CurrentPage() === 1 -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;&laquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === 1 -->
        <li>
            <a href="#" data-bind="click: function(){ selectPage(1); }">&laquo;&laquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko if:HasPrevPage -->
        <li>
            <a href="#" data-bind="click: function(){ selectPage(CurrentPage() - 1); }">&laquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko ifnot:HasPrevPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&laquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko foreach:Pages -->
        <!-- ko if:$data === $parent.CurrentPage() -->
        <li class="active">
            <span class="currentPage" data-bind="text: $data"></span>
        </li>
        <!-- /ko -->
        <!-- ko if:$data !== $parent.CurrentPage() -->
        <li>
            <a href="#" data-bind="text: $data, click: function(){ $parent.selectPage($data); }"></a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if:HasNextPage -->
        <li>
            <a href="#" data-bind="click: function(){ selectPage(CurrentPage() + 1); }">&raquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko ifnot:HasNextPage -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko ifnot:CurrentPage() === LastPage() -->
        <li>
            <a href="#" data-bind="click: function(){ selectPage(LastPage()); }">&raquo;&raquo;</a>
        </li>
        <!-- /ko -->
        <!-- ko if:CurrentPage() === LastPage() -->
        <li class="disabled">
            <a href="#" class="disabledPage">&raquo;&raquo;</a>
        </li>
        <!-- /ko -->
    </ul>
</script>

