@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-5">
            <img width="400" src="~/Content/Images/WorldMap.jpg" />
        </div>
        <div class="col-md-7">
            <h1>Eora Marketplace</h1>
            <p class="lead">
                Eora is home to a multitude of races, ethnicities and creatures that populate it.
            </p>
            <p class="lead">
                Only in the Eora Marketplace you can buy weapons or armor for your character from all parts of Eora
            </p>
            <p><a href="@Url.Action("", "Shop")" class="btn btn-primary btn-lg">Go to market &raquo;</a></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h2>
            Weapons
        </h2>
        <p>
            All weapons are used either as melee or ranged weapons.
            Melee weapons are grouped by their relative handedness and speed.
            Each weapon or type of ammo deals a certain type of damage (slashing, piercing, crushing etc)
        </p>
    </div>
    <div class="col-md-4">
        <h2>
            Armors
        </h2>
        <p>
            Armor encompasses all items a character may wear, that provide the wearer defensive bonuses during combat, particularly increasing its Damage Reduction.
            There are several types of armor and shields available, each armor type has three quality levels: normal, fine, and exquisite.
            Armor is worn in the body slot, while shields used as part of Weapons sets.
        </p>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <p><a href="@Url.Action("", "Shop")" class="btn btn-primary btn-lg">Become Eora Marketlace Customer</a></p>
    </div>
    <div class="col-md-4"></div>
</div>